bin/
obj/
/.vs
[Rr]elease/
[Dd]ebug/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsp
*.vspscc
*.vssscc
.vscode/
*.nupkg
packages/
*.dll
*.exe
*.pdb
*.cache
*.log
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.rsp
*.pch
*~
*.bak
*.backup
*.orig
*.vsix
*.ncb
*.sdf
*.dbmdl
*.opendb
*.VC.db
*.VC.VC.opendb
/foreign-references
